body {
    background-color: #bab3b6;
    font-size: 14px;
    margin: 5px;
    padding: 0px;
    text-align: center;
}

nav {
    text-align: right;
}

nav a {
    margin-left: 5px;
    text-decoration: none;
}

nav a, div p.special {
      background-color: #3b3b3b;
      border-radius: 15px;
      color: #ffffff;
      display: inline-block;
      margin: 0px;
      padding: 5px 15px;
}

div {
    background-color: #ffffff;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    opacity: 0.75;
    padding: 10px 5px;
    position: relative;
    vertical-align: top;
    width: 120px;
}

div h1 {
    font-size: 14px !important;
}

h1 {
    font-size: 21px;
    margin-bottom: 0px;
}

h1.special {
    margin-top: 1.9em;
}

h2 {
    font-weight: normal;
    font-size: 0.9em;
    margin-bottom: 1em;
    padding: 0;
}

p.diary {
      background-color: #ffffff;
      display: inline-block;
      font-family: monospace;
      font-size: 16px;
      hyphens: auto;
      line-height: 2.2em;
      margin: 0 0 1.5em;
      padding: 1.7em 1.7em 1em;
      position: relative;
      text-align: justify;
      opacity: 0.75;
      width: 70%;
}
